
:root {
  --bg: #282c34;
  --header: #fff;
  --link: #61dafb;
  --text: hsla(0, 0%, 100%, 0.88);
}

.shoebyid{
  max-width: 100%;
  object-fit: contain;
}

.bidimage{
  height:fit-content;
  width:fit-content;
  justify-content: center;
}
.bidcontent{
  text-align: center;
}
